# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
# If you are using Django migrations
*.py[cod]
*.sqlite3
*.pyo
*.pyd
*.pdb
# If you are using Django static files

env
*.env
# If you are using virtual environments
venv/
env/
ENV/
venv/